{% extends 'form.html' %}


{% block campos %}




<div class="row g-3">
    <div class="col-md-4">
        <label> {{ form.name.label }}</label>
        {{ form.name }}
    </div>

    <div class="col-md-4">
        <label>{{form.lastname.label}}</label>
        {{ form.lastname }}
    </div>

    <div class="col-md-4">
        <label>{{ form.dni.label }}</label>
        {{ form.dni }}
    </div>

    <div class="col-md-4">
        <label>{{form.gender.label}}</label>
        {{ form.gender }}
    </div>

    <div class="col-md-4">
        <label>{{form.date_joined.label}}</label>
        {{ form.date_joined }}
    </div>

    <div class="col-md-4">
        <label>{{form.state.label}}</label>
        {{ form.state }}
    </div>

    <div class="col-md-4">
        <label>{{form.address.label}}</label>
        {{ form.address }}
    </div>

    <div class="col-md-4">
        <label>{{ form.fecha_ingreso.label }}</label>
        {{ form.fecha_ingreso }}
    </div>

    <div class="col-md-4">
        <label>{{ form.phone.label }}</label>
        {{ form.phone }}
    </div>

    <div class="col-md-4">
        <label>{{form.email.label}}</label>
        {{ form.email }}
    </div>

    <div class="col-md-4">
        <label>{{form.cargo.label}}</label>
        {{ form.cargo }}
    </div>

    <div class="col-md-4">
        <label>{{form.category.label}}</label>
        {{ form.category }}
    </div>

    <div class="col-md-4">
        <label>{{form.image.label}}</label>
        {{ form.image }}
    </div>
</div><br>




{% endblock %}
