{% extends 'body.html' %}
{% load widget_tweaks %}
{% block contents %}


<main class="container-fluid">
    <div class="row px-xl-6">
        <div class="col-12">
            <form method="post" action="." enctype="multipart/form-data">
                {% csrf_token %}
                <div class="row px-xl-6">
                    <div class="col-12">
                        <div class="d-flex align-items-center p-3 my-3 text-white bg-primary rounded shadow-sm">
                            {% if action == 'add' %}
                            <i class="fa fa-user-plus"></i>
                            {% else %}
                            <i class="fas fa-edit"></i>
                            {% endif %}
                            {{ title }}
                        </div>

                        <input type="hidden" name="action" value="{{ action }}">
                        {% if form.errors %}
                        <div class="alert alert-danger alert-dismissible">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                            <h5><i class="icon fas fa-ban"></i> Ha ocurrido un error al querer guardar el registro</h5>
                            <ul>
                                {% for field in form %}
                                {% for error in field.errors %}
                                <li>{{ error }}</li>
                                {% endfor %}
                                {% endfor %}
                            </ul>
                        </div>
                        {% endif %}

                        {% block campos %}
                        {% endblock %}
                    </div>

                    <div class="card-footer">
                        <button class="btn btn-primary" type="submit"><i class="fas fa-save"></i> Guardar</button>
                        <button href="{{list_url}}" class="btn btn-primary" type="submit"><i class="fas fa-save"></i> Guardar y agregar otro</button>
                        <a href="{{list_url}}" class="btn btn-danger btn-flat">
                            <i class="fas fa-times"></i> Cancelar
                        </a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</main>



<script>
    document.addEventListener('DOMContentLoaded', function () {
        const form = document.querySelector('form');
        form.addEventListener('submit', function (e) {
            e.preventDefault();

            const parameters = new FormData(this);
            const action = form.querySelector('input[name="action"]').value;

            fetch(window.location.pathname, {
                method: 'POST',
                body: parameters,
                headers: {
                    'X-Requested-With': 'XMLHttpRequest'
                }
            })
            .then(response => response.json())
            .then(data => {
                if (data.success) {
                    Swal.fire({
                        title: 'Success!',
                        text: action === 'add' ? 'El miembro ha sido creado exitosamente.' : 'El miembro ha sido actualizado exitosamente.',
                        icon: 'success'
                    }).then(() => {
                        window.location.href = '{{ list_url }}';
                    });
                } else {
                    let errorMessages = 'There was an error processing your request.';
                    if (data.errors) {
                        errorMessages = Object.values(data.errors).map(errList => errList.join(', ')).join('\n');
                    }
                    Swal.fire({
                        title: 'Error!',
                        text: errorMessages,
                        icon: 'error'
                    });
                }
            })
            .catch(error => {
                Swal.fire({
                    title: 'Error!',
                    text: 'There was an error processing your request.',
                    icon: 'error'
                });
            });
        });
    });
</script>




{% block javascript %}

{% endblock %}


{% endblock %}
