{% load static %}
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<!-- Navbar Start -->
<div class="container-fluid bg-dark mb-30">
    <div class="row px-xl-5">
        <div class="col-lg-3 d-none d-lg-block">
            <a href="#" class="text-decoration-none">
                <span class="h1 text-uppercase text-primary bg-dark px-2">AS</span>
                <span class="h1 text-uppercase text-dark bg-primary px-2 ml-n1">ys</span>
            </a>
        </div>
        <div class="col-lg-9">
            <nav class="navbar navbar-expand-lg bg-dark navbar-dark py-3 py-lg-0 px-0">
                <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                    <div class="navbar-nav mr-auto py-0">
                        <a href="#" class="nav-item nav-link ">Home</a>
                        <a href="{% url 'asys:miembro_list' %}"
                           class="nav-item nav-link {% if request.path == '/asys/persona/list/' %}active{% endif %}">Miembro</a>
                        <div class="nav-item dropdown">
                            <li class="nav-item dropdown">
                                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Asistencia <i
                                        class="fa fa-angle-down mt-1"></i></a>
                                <div class="dropdown-menu bg-primary rounded-0 border-0 m-0">
                                    <a href="#" class="dropdown-item">Damas</a>
                                    <a href="#" class="dropdown-item">Caballeros</a>
                                    <a href="{% url 'asys:list_asistencia' %}" class="dropdown-item">Jovenes</a>
                                    <a href="#" class="dropdown-item">General</a>
                                </div>
                            </li>
                        </div>
                        <div class="nav-item dropdown">
                            <li class="nav-item dropdown">
                                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Servicio <i
                                        class="fa fa-angle-down mt-1"></i></a>
                                <div class="dropdown-menu bg-primary rounded-0 border-0 m-0">
                                    <a href="#" class="dropdown-item">Damas</a>
                                    <a href="#" class="dropdown-item">Caballeros</a>
                                    <a href="{% url 'asys:servicio_create' %}" class="dropdown-item">Jovenes</a>
                                </div>
                            </li>
                        </div>
                        <a href="#" class="nav-item nav-link">Actividad</a>
                        <a href="#" class="nav-item nav-link">Reporte</a>
                        <a href="#" class="nav-item nav-link">Configuracion</a>
                    </div>
                    <div class="navbar-nav ml-auto py-0 d-none d-lg-block">

                        <a href="{% url 'logout' %}" class="btn px-0 ml-3">
                            <i class="fas fa-angle-double-up text-primary"></i>
                            <span class="badge text-secondary border border-secondary " style="padding-bottom: 2px;">Salir</span>
                        </a>
                    </div>
                </div>
            </nav>
        </div>
    </div>
</div>
<!-- Navbar End -->


<script>
    document.addEventListener("DOMContentLoaded", function() {
      var currentSection = "{{ current_section }}";

      var menuLinks = document.querySelectorAll(".menu-link");
      menuLinks.forEach(function(link) {
        var section = link.getAttribute("data-section");
        if (section === currentSection) {
          link.classList.add("active");
        }
      });
    });
</script>
