{% load static %}

<!-- Navbar End -->
<header class="container-fluid bg-dark mb-30">
    <nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-primary" aria-label="Main navigation">
        <div class="container-fluid">
            <div class="col-lg-3">
                <a href="#" class="text-decoration-none">
                    <span class="h1 text-uppercase text-dark">AS</span>
                    <span class="h1 text-uppercase" style="color: white;">ys</span>
                </a>
            </div>

            <div class="navbar-collapse offcanvas-collapse" id="navbarsExampleDefault">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'asys:miembro_list' %}">Miembro</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-bs-toggle="dropdown"
                           aria-expanded="false">Asistencia</a>
                        <ul class="dropdown-menu" aria-labelledby="dropdown01">
                            <li><a class="dropdown-item" href="#">General</a></li>
                            <li><a class="dropdown-item" href="#">Dama</a></li>
                            <li><a class="dropdown-item" href="#">Caballeros</a></li>
                            <li><a class="dropdown-item" href="{% url 'asys:list_asistencia' %}">Jovenes</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Servicio</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-bs-toggle="dropdown"
                           aria-expanded="false">Settings</a>
                        <ul class="dropdown-menu" aria-labelledby="dropdown01">
                            <li><a class="dropdown-item" href="#">Editar Perfil</a></li>
                            <li><a class="dropdown-item" href="#">Agregar Cargo</a></li>

                        </ul>
                    </li>
                </ul>
                <ul class="navbar-nav">
                    <li class="nav-item"><a href="{% url 'logout' %}" class="nav-link">Salir</a></li>
                </ul>

            </div>
        </div>
    </nav>
</header>


