{% extends 'body.html' %}
{% load static  %}
{% load custom_tags %}

{% block head %}
{% block head_list %}
{% endblock %}
{% endblock %}

{% block contents %}
<main class="container-fluid">

    <!--Modar notificacion-->
    {% if messages %}
    {% for message in messages %}
    {% if 'modal_trigger' in message.extra_tags %}
    <!-- Este bloque de codigo se utiliza para mostrar el modal de notificacion por inasistencia  -->
    <div class="modal" id="modal-{{ message.extra_tags.miembro_id }}" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="staticBackdropLabel">Notificación</h1>
                </div>
                <form method="post" action="{% url 'asys:guardar_status' %}"
                      onsubmit="return enviarFormulario(event, '{{ message.extra_tags.miembro_id }}');">

                    {% csrf_token %}
                    <input type="hidden" name="id" id="id-{{ message.extra_tags.miembro_id }}"
                           value="{{ message.extra_tags|extract_id }}">
                    <div class="modal-body">
                        <p>{{ message.message }}</p>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="status" id="flexRadioDefault1"
                                   value="enfermo" checked>
                            <label class="form-check-label" for="flexRadioDefault1">Miembro se encuentra
                                enfermo</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="status" id="flexRadioDefault2"
                                   value="visitar">
                            <label class="form-check-label" for="flexRadioDefault2">Miembro necesita ser
                                visitado</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="status" id="flexRadioDefault3"
                                   value="permiso">
                            <label class="form-check-label" for="flexRadioDefault3">Miembro tiene permiso o
                                excusa</label>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-secondary">Entendido</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    {% endif %}
    {% endfor %}
    {% endif %}
    <script src="{% static 'asistencia/js/asistencia.js' %}"></script>
<!--    --------Aqui termina el bloque de inasistencia ---------------------------->


    <!--Este Modal muestra el detallaes de asistencia Cuando se hace clic en el hojo o boton de la lista-->
    <div class="modal fade" id="detailsModal" tabindex="-1" role="dialog" aria-labelledby="detailsModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="detailsModalLabel">Detalles de Asistencia</h5>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <table class="table display table-bordered table-striped table-hover table-sm id stripe row-border order-column nowrap"
                           id="detailsTable">
                        <thead>
                        <tr class="table-primary">
                            <th scope="col">ID</th>
                            <th scope="col">Nombre</th>
                            <th scope="col">Fecha de Registro</th>
                            <th scope="col">Presente</th>
                        </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>


    <div class="row px-xl-6">
        <div class="col-12">

            <!--    Este bloque muestra un detalle en la pantalla de lista de miembro al hacer clic-->
            <div id="detalle" style="display: none;" class="card notificacion">
                <div class="card-body d-flex" align="center">
                    <div class="mr-3">
                        <img class="card-img-top" id="perfil" src="" alt="Foto de perfil">
                    </div>
                    <div>
                        <h2 class="card-title" id="nombre-empleado"></h2>
                        <p class="card-text" id="dni-empleado"></p>
                        <p class="card-text" id="estado-empleado"></p>
                        <p class="card-text" id="telefono-empleado"></p>
                        <p class="card-text" id="correo-empleado"></p>
                        <p class="card-text" id="direccion-empleado"></p>
                        <!-- Agrega otros campos relevantes del empleado aquí -->
                    </div>
                </div>
            </div>


            <div class="d-flex align-items-center p-3 my-3 text-white bg-primary rounded shadow-sm">
                <div class="lh-1">
                    <i class="fa fa-list"></i> {{title}}

                </div>
            </div>

            <div class="my-3 p-3 bg-body rounded shadow-sm">
                <table class="table display table-bordered table-striped table-hover table-sm id stripe row-border order-column nowrap"
                       id="data">
                    <thead>
                    {% block columns %}

                    {% endblock %}
                    </thead>
                    <tbody>
                    {% block rows %}


                    {% endblock %}
                    </tbody>
                </table>

            </div>
            <div class="card-footer">
                <a href="{{create_url}}" class="btn btn-primary btn-flat btnTest">
                    <i class="fas fa-plus"></i> Nuevo registro
                </a>
            </div>
        </div>
    </div>
</main>
{% endblock %}

{% block javascript  %}

{% endblock %}
